<p> We are building social media website  <%= title %> </p>

<section id="feed-posts">
    <h4> Posts</h4>
    <form action="/posts/create" method="post">
        <textarea name="content" id="" cols="30" rows="4" placeholder="Enter your post"></textarea>
        <input type="submit" value="Post">

    </form>


</section>